main {
}

.checkout-summary {
  flex: 0 0 40%;
}

.order-summary {
  flex: 0 0 58%;
  margin-right: 2%;
}

.section {
  padding: 12px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.section {
  margin-bottom: 24px;
}

.section-title {
  margin-left: 8px;
}

.basket-item {
  padding: 0;
}

.basket-item:not(:last-child) {
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.basket-item:last-child {
  padding-bottom: 0;
}

.basket-item-image img {
  width: 50px;
}

.checkout-content .section-cell:not(:last-child) {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--color-gray-light);
}

.checkout-content .section-cell .summary-title {
  margin-right: 8px;
}

.checkout-content .section-cell .summary-content {
  color: var(--color-gray);
  word-wrap: break-word;
}

.address {
  height: 150px;
}

.radio-button-item:not(:last-child) {
  margin-bottom: 12px;
}
