:root {
  --color-black: #203040;
  --color-white: #ecf0f1;
  --color-primary: #2ecc71;
  --color-secondary: #27ae60;

  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 18px;

  --border-radius: 8px;

  --box-shadow: 0 5px 10px -5px;
  --box-shadow-hard: rgba(44, 62, 80, 0.2);
  --box-shadow-soft: rgba(44, 62, 80, 0.02);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/** Pre ready classes */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-between {
  align-items: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
